services:
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    restart: unless-stopped
    networks:
      - proxy
    environment:
      - WATCHTOWER_SCHEDULE=0 30 2 * * 0
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_HTTP_API_METRICS=true
      - WATCHTOWER_HTTP_API_TOKEN=${WATCHTOWER_HTTP_API_TOKEN}
      - WATCHTOWER_NOTIFICATION_URL=${WATCHTOWER_NOTIFICATION_URL}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      traefik.enable: true
      traefik.http.routers.watchtower.entrypoints: https
      traefik.http.routers.watchtower.rule: Host("watchtower.${DOMAIN}") && PathPrefix(`/v1/metrics`)
      traefik.http.routers.watchtower.service: watchtower
      traefik.http.middlewares.watchtower-auth.headers.customrequestheaders.Authorization: "Bearer ${WATCHTOWER_HTTP_API_TOKEN}"
      traefik.http.routers.watchtower.middlewares: watchtower-auth
      traefik.http.services.watchtower.loadbalancer.server.port: 8080
networks:
  proxy:
    external: true
