services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    restart: always
    networks:
      - proxy
    ports:
      - 192.168.1.200:53:53/udp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - work:/opt/adguardhome/work
      - conf:/opt/adguardhome/conf
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 80 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      traefik.enable: true
      traefik.http.routers.adguard.entrypoints: https
      traefik.http.routers.adguard.rule: Host(`adguard.${DOMAIN}`)
      traefik.http.routers.adguard.service: adguard
      traefik.http.services.adguard.loadbalancer.server.port: 80
networks:
  proxy:
    external: true
volumes:
  work:
  conf:
