services:
  freebox-exporter:
    image: docker.io/shackerd/freebox-exporter-rs:latest
    container_name: freebox-exporter
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - freebox_config:/etc/freebox-exporter-rs
      - freebox_data:/data
    command: 
      - '/usr/bin/freebox-exporter-rs'
      - '-c'
      - '/etc/freebox-exporter-rs/config.toml'
      - 'auto'

networks:
  proxy:
    external: true

volumes:
  freebox_data:
  freebox_config:
