services:
  unifi-poller:
    image: golift/unifi-poller:latest
    container_name: unifi-poller
    restart: unless-stopped
    networks:
      - proxy
    environment:
      - UP_UNIFI_DEFAULT_URL=https://unifi.$DOMAIN
      - UP_PROMETHEUS_NAMESPACE=unifi
      - UP_UNIFI_DEFAULT_USER=${UNIFI_USER}
      - UP_UNIFI_DEFAULT_PASS=${UNIFI_PASS}
      - UP_INFLUXDB_DISABLE=true
      - UP_UNIFI_DEFAULT_VERIFY_SSL=false
      - UP_PROMETHEUS_HTTP_LISTEN=:9130

networks:
  proxy:
    external: true
